# Database Configuration
POSTGRES_DB=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here

# Application Configuration
DATABASE_URL=postgresql://postgres:your_secure_password_here@db:5432/
SECRET_KEY=

# SSL/Certbot Configuration
CERTBOT_EMAIL=nakatamodem@i2pmail.org
CERTBOT_DOMAIN=hadal.data-line.gr
